.section{
    gap: 15px;
    margin: 30px 0;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
button{
    color: white;
}
.title button{
    background: #72769B;
    padding: 10px 5px;
    border-radius: 5px;
}
.title  input{
    width: 90%;
    font-size: 20px;
    padding: 10px;
}
