.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.item_text{
    display: flex;
    gap: 10px;
    width: 90%; 
}
.item_text input{
    font-size: 16px;
    padding: 10px;
}
.item_text input[type='text']{
    width: 100%;
    border:1px solid #4444444d;
}
.item_text input[type='checkbox'],
.item_text input[type='radio']{
    width: 25px;
}
.btn{
    display: flex;
    gap: 5px;
}
.btn button{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
}
.create{
    background: #EFBD50;
}
.delete{
    background: rgba(247, 73, 30, 0.582);
}