.main {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    gap:40px;
    height: 130vh;
    align-items: center;
    background: url(./../../../img/fon_game.png) no-repeat;
    background-position: 100% 100%;
    background-size: cover;
}

.section{
    width: 700px;
    padding: 50px 80px 25px 120px;
    gap: 30px;
    color: white;
    font-size: 26px;
    font-weight: 600;
    border-radius: 40px;
    background: rgba(13, 18, 57, 0.45);
    margin-bottom: 40px;

}
.section input{
    box-shadow: 10px 5px 20px 0px rgba(0, 0, 0, 0.13) inset;
    height: 50px;
    border-radius: 5px;
    padding: 5px 10px;
}
.section a{
    display: block;
    align-self: center;
    padding: 10px 50px;
    border-radius: 20px;
    background: linear-gradient(180deg, #00D1D3 0%, #8137FA 100%);
    color: white;
    font-size: 32px;
    font-weight: 600;
}
